<h1>My Tasks</h1>

{{#if error}}
  <p class="error">{{error}}</p>
{{/if}}

<form class="create-form" action="/" method="POST">
  <input type="text" name="title" placeholder="What needs to be done?" maxlength="200" autofocus>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

{{#if todos.length}}
  <ul class="todo-list">
    {{#each todos}}
      {{> todo-item}}
    {{/each}}
  </ul>
{{else}}
  <p class="empty-state">No tasks yet. Add one above!</p>
{{/if}}
